PyOpenGL==3.1.5
absl-py==0.13.0
certifi==2021.5.30
charset-normalizer==2.0.4
dm-env==1.5
dm-tree==0.1.6
future==0.18.2
glfw==2.1.0
h5py==3.4.0
idna==3.2
labmaze==1.0.5
lxml==4.6.3
numpy==1.21.2
protobuf==3.17.3
pyparsing==2.4.7
requests==2.26.0
scipy==1.7.1
setuptools==58.0.0
six==1.16.0
tqdm==4.62.2
urllib3==1.26.6