PyYAML==5.4.1
absl-py==0.13.0
chex==0.0.8
cloudpickle==1.6.0
dm-haiku==0.0.2
dm-tree==0.1.6
flatbuffers==2.0
jax==0.2.20
jaxlib==0.1.71
numpy==1.21.2
opt-einsum==3.3.0
optax==0.0.1
protobuf==3.17.3
scipy==1.7.1
six==1.16.0
tabulate==0.8.9
tensorboardX==2.4
toolz==0.10.0