Pillow==8.3.2
absl-py==0.13.0
chex==0.0.8
cycler==0.10.0
dm-tree==0.1.6
flatbuffers==2.0
jax==0.2.20
jaxlib==0.1.71
kiwisolver==1.3.2
matplotlib==3.4.3
msgpack==1.0.2
numpy==1.21.2
opt-einsum==3.3.0
optax==0.0.9
pyparsing==2.4.7
python-dateutil==2.8.2
scipy==1.7.1
six==1.16.0
toolz==0.11.1